.showProject {
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 999;
    border-radius: 5px;
    background-color: #2b2d3c;
}

.showProject__close {
    margin-bottom: 20px;
    width: 5%;
    margin-left: auto;
    height: 20px;
    text-align: right;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.showProject__close::after {
    content: '\2716';
    position: absolute;
    top: -15px;
    color: #9ea3b4;
    opacity: .3;
}

.showProject h1 {
    margin-bottom: 12px;
    color: #ffffff;
    text-align: center;
}

.showProject__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

.showProject__form input {
    border-radius: 10px;
    color: #9ea3b4;
    background-color: #3a3e52;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
}

.showProject__form button {
    width: 35%;
    margin: 8px auto 0;
    border-radius: 6px;
    border: 1px solid #2196f3;
    background-color: #2196f3;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    padding: 12px 45px;
    text-transform: uppercase;
}


